/* Style the header text */
#title {
    font-size: 48px;
    text-align: center;
    animation: move-letters 1s ease-out forwards;
  }
  
  /* Define the animation to move each letter */
  @keyframes move-letters {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Center the main content */
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
/*Center Headings*/
h3, h4 {
    text-align: center;
}

  /* Style the image */
  #image {
    max-width: 100%;
    height: auto;
  }
  
  /* Style the caption under the image */
  #img-caption {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
  }
  
  /* Style the list in the tribute-info section */
  #tribute-info ul {
    max-width: 30em;
    list-style: none;
    margin: 0 auto;
    padding: 10;
    border: 5px solid rgba(200, 200, 200, 1);
    border-radius: 25px;
    background-color: rgba(200, 200, 200, 1);
  }
  /*adjust list margins*/
  li{
    margin: 1.5em auto;
  }
  /* Style the link to the Wikipedia page */
  #tribute-link {
    color: #0077cc;
    text-decoration: none;
  }
  
  #tribute-link:hover {
    text-decoration: underline;
  }
  footer{
    text-align: right;
  }